#controls-mobile-toggle-button {
  background: url($control-mobile-filter-icon) 96% no-repeat $control-background-color;
  background-color: transparent;
  background-size: 100%;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 5px;
  top: 2px;
  border: none;
}

#controls-mobile-menu {
  position: fixed;
  bottom: $footer-height;
  left: 0;
  z-index: 2;

  width: 100%;
  padding-top: 10px;

  background-color: $background-color;

  overflow-y: scroll;

  #controls-mobile-filters {
    display: flex;
    flex-direction: column;

    select {
      width: 93%;
      margin: unset;
      margin-top: 10px;
      align-self: center;
      background-size: 4%;
      font-size: 12pt;
      padding: 5px;
      border-radius: 0px;
    }
  }
}
