@media (max-width: $breakpoint-tablet) {
  #meetTable {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding: 0;

    .meet-list-name {
      width: 200px;
      display: inline-block;
      line-height: 21px;
      height: auto;
    }
  }
}
