// vim: set ts=8 sts=2 et sw=2 tw=99:
// The mobile version uses a footer instead of a header.

// This includes both the content and the footer.
#mobile-wrapper {
  height: 100%;
  position: relative;
}

// The contents of the wrapper that aren't the footer.
#mobile-content {
  padding-bottom: $footer-height;
}

// The footer with controls fixed at the bottom of the screen.
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 0;

  height: $footer-height;
  width: 100%;

  // This is a hack to get the footer to always be above the SlickGrid.
  z-index: 1;

  color: $header-color;
  background-color: $header-background-color;
}

footer > .header-hamburger {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 5px;
  font-size: 18pt;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  color: $background-color;
}

footer > .mobile-header-logo-link {
  height: $footer-height;
  display: block;
  width: 100px;
  margin: auto;

  .header-logo {
    width: 100%;
  }
}

footer > #headerSearchContainer {
  display: flex;
  width: 200px;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;

  #searchfield {
    width: 150px;
    height: 15px;
    outline: none;

    &:focus {
      box-shadow: 0 0 5px $primary-color;
      border: 1px solid $primary-color;
    }
  }

  #searchbutton {
    background: url($mobile-search-icon) 96% no-repeat $control-background-color;
    background-color: $mobile-search-background;
    background-size: 61%;
    width: 26%;
    height: 25px;
    display: block;
    background-position: center;
  }
}

#mobile-menu-popup {
  position: fixed;
  bottom: $footer-height;
  left: 0;
  z-index: 2;

  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: $background-color;

  overflow-y: scroll;

  #header-mobile-menu-selectors {
    text-align: center;
  }

  .nav__link_mobile {
    display: block;
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
  }
}
