// vim: set ts=8 sts=2 et sw=2 tw=99:
//
// This provides the theming for the main OpenPowerlifting site.

$background-color: #272727;
$header-color: #4A4A50;
$header-background-color: #F3F3F3;
$header-background-color-mobile: white;

$default-color: #EDF2F4;
$primary-color: #FB3640;

// A slightly mellowed-out red compared to the red for fonts.
$table-header-background-color: #BF262B;
$row-alt-background-color: #333333; // Every even-numbered row.
$row-hover-background-color: #484848;

$control-bar-background-color: #C2C2C2;
$control-text-color: #4A4A50;
$control-border-color: #A9A9A9;
$control-background-color: #F4F4F4;
$control-hover-color: #FFFFFF;
$control-active-color: #D8D8D8;
$control-selector-image: "/static/images/select_dropdown_red.png";
$control-mobile-filter-icon: "/static/images/mobile_filter.svg";
$mobile-grid-name-show-more-icon: "/static/images/more_icon.png";
$mobile-search-icon: "/static/images/search.png";
$mobile-search-background: transparent;

// Height definitions.
$control-bar-height: 36px;
$header-height: 36px;
$topbar-height: $control-bar-height + $header-height;

// For mobile.
$footer-height: 40px;

$table-row-height: 18px;

// Definitions for media queries.
$mobile-cutoff: 600px;
$breakpoint-tablet: 767px;

// External things that are hopefully pretty small.
@import "../node_modules/slickgrid/slick.grid";

// Internal things.
@import "header";
@import "tables";
@import "controls";
@import "records-columns";
@import "layout";
@import "donator-colors";

// Mobile stuff gets included too!
@import "mobile-footer";
@import "controls-mobile";
@import "data-mobile";
@import "lifter-mobile";
@import "records-mobile";
@import "meet-mobile";
@import "meet-list-mobile";
@import "status-mobile";
